* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right top, #0093e9 0%, #80d0c7 60%);
  .glass {
    height: 80%;
    width: 60%;
    border-radius: 2rem;
    background: linear-gradient(
      to right bottom,
      rgba(90, 92, 106, 0.8) 0%,
      rgba(32, 45, 58, 0.3) 60%
    );
    display: flex;
  }
}
